<% title = "Products" %>

<div class="d-flex justify-content-between align-items-center mb-3">
  <h2>Daftar Produk</h2>
  <a class="btn btn-success" href="/admin/purchases/new">Input Pembelian</a>
</div>

<table class="table table-striped">
  <thead><tr><th>ID</th><th>Nama</th><th>Harga</th><th>Stock</th></tr></thead>
  <tbody>
    <% products.forEach(p => { %>
      <tr>
        <td><%= p.id %></td>
        <td><%= p.name %></td>
        <td>Rp <%= p.price.toLocaleString('id-ID') %></td>
        <td><%= p.qty %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
